1 VERSIONINFO
FILEVERSION 10,26,1,6
PRODUCTVERSION 10,26,1,0
FILEOS 0x4
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "041504E2"
	{
		VALUE "CompanyName", "Proman"
		VALUE "FileDescription", "Generator PDF faktur KSeF"
		VALUE "FileVersion", "10.26.1.6"
		VALUE "LegalCopyright", "Proman"
		VALUE "OriginalFilename", "KSeF-PDFGen.exe"
		VALUE "ProductName", "Ekonom"
		VALUE "ProductVersion", "10.26.1"
		VALUE "InternalName", "KSeF-PDFGen"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0415 0x04E2  
}
}

