1 VERSIONINFO
FILEVERSION 1,1,4,0
PRODUCTVERSION 1,1,4,0
FILEOS 0x4
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "041504E2"
	{
		VALUE "CompanyName", "Proman"
		VALUE "FileDescription", "Generator PDF faktur KSeF"
		VALUE "FileVersion", "1.1.4.0"
		VALUE "LegalCopyright", "Proman"
		VALUE "OriginalFilename", "KSeF-PDFGen.exe"
		VALUE "ProductName", "ksef-pdf-generator"
		VALUE "ProductVersion", "1.1.4"
		VALUE "InternalName", "KSeF-PDFGen"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0415 0x04E2  
}
}

